body{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url(../src/images/bg-2.png) no-repeat;
  background-position:top;
  background-size: cover;
  background-position-y:-450px;
  background-attachment:fixed;
}